{% extends "base.html" %}

{% block bodybgcolor %}
bgcolor="#e6ffee"
{% endblock %}

{% block contents %}
<div class="one"> 
    <div class="two"> 
        <h1>Side Bar</h1> 
        <ul> 
            <li {% block indexactive %}{% endblock %}><a href="{{url_for('index')}}">Index</a></li> 
            <li {% block displayactive %}{% endblock %}><a href="{{url_for('display')}}">Display</a></li> 
            <li {% block updateactive %}{% endblock %}><a href="{{url_for('update')}}">Update</a></li> 
            <li {% block mongodbactive %}{% endblock %}><a href="{{url_for('mongodb')}}">MongoDB</a></li>
            <li {% block redisactive %}{% endblock %}><a href="{{url_for('redis_page')}}">Redis</a></li>
            <li {% block muliplesqlactive %}{% endblock %}><a href="{{url_for('multiple_sql')}}">Multiple SQL</a></li>
            <li {% block postgresqlactive %}{% endblock %}><a href="{{url_for('postgre_sql')}}">PostgreSql</a></li>
            <li {% block httpactive %}{% endblock %}><a href="{{url_for('http_page')}}">HTTP Page</a></li>
            <li {% block exceptionactive %}{% endblock %}><a href="{{url_for('exception')}}">Exception</a></li>
            <li><a href="{{url_for('logout')}}">Log out</a></li> 
        </ul> 
    </div>  
    <div class="content" align="center"> 
        <div class="topbar"> 
            <h2>{% block top %}{% endblock %}</h2> 				 
        </div></br></br> 
        <div class="contentbar"> 
            {% block content %}{% endblock %} 
        </div>     
    </div> 
</div> 
{% endblock %}

