asgiref==3.7.2
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.10
click==8.0.3
cryptography==38.0.3
Django==4.2.4
dnspython==2.4.1
Flask==2.0.2
Flask-MySQLdb==0.2.0
gunicorn==21.2.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mysqlclient==2.1.0
packaging==23.1
psutil==5.9.5
psycopg2==2.9.7
psycopg2-binary==2.9.7
pycparser==2.21
pymongo==4.4.1
pyOpenSSL==22.1.0
pythonagent @ file:///opt/cavisson/netdiagnostics/python/pythonagent-0.0.1.tar.gz#sha256=8fac56bb308460ad53a694ce7e937e3ca947f29e484365d32728320f3d73fc31
redis==4.6.0
requests==2.27.1
SpeechRecognition==3.10.0
sqlparse==0.4.4
typing_extensions==4.0.1
urllib3==1.26.8
watchdog==3.0.0
Werkzeug==2.0.2
